:root {
  --primary-color: lavender;
  --secondary-color: gray;
  --dark-color: darkviolet;
  --accent-color: rgb(196, 166, 1);
}

html,
body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#title {
  font-family: 'Norican', cursive;
  font-size: 4rem;
  color: var(--primary-color);
  text-align: center;
  text-decoration-style: wavy;
}

#img-div {
  width: 300px;
  margin: auto;
}

#image {
  max-width: 100%;
  margin: auto;
  display: block;
  height: auto;
  border-radius: 50%;
  border: solid 5px var(--accent-color);
}

#img-caption {
  font-size: .6rem;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


#tribute-link {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#tribute-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px) {
  #content {
   display: block;
  }

  #tribute-info {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    width: 100%;
  }

  #main {
    padding: 20px;
    margin: 20px;
    background-color: var(--secondary-color);
    border-radius: 12px;
  }
}

@media screen and (min-width: 800px) {
  #content {
    display: flex;
  }

  #main {
    padding: 20px 50px;
    margin: 20px 75px;
    background-color: var(--secondary-color);
    border-radius: 12px;
  }

  #tribute-info {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    width: 50%;
  }
}